:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Sen", sans-serif;
    --primary-color: #ffb900;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: var(--primary-font);
}
/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 144px;
    text-align: center;
    padding: 11px 0;
    border-radius: 999px;
    background: #171100;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.btn:hover {
    opacity: 0.8;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.break-all {
    word-break: break-all;
}
/* Header */
.header {
    padding-top: 26px;
    background-color: #fffcf4;
}
.header.fixed {
    top: -26px;
    z-index: 1;
    position: sticky;
}
.header .navbar {
    justify-content: space-between;
    display: flex;
    padding: 8px 0;
}
.navbar ul {
    display: flex;
    align-items: center;
}
.navbar .active a::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 6px;
    left: 21px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
.navbar li:not(:last-child) a {
    position: relative;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    padding: 8px 21px;
    letter-spacing: 1px;
}
.navbar li:not(:last-child) a:hover,
.navbar li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
.navbar li:last-child {
    margin-left: 49px;
}
.navbar .btn {
    display: inline-block;
    min-width: 144px;
    text-align: center;
    padding: 11px 0;
    border-radius: 24.5px;
    background: #171100;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
/* Hero */
.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}
.hero .body {
    display: flex;
}
.hero-left {
    width: 48%;
    position: relative;
}
.hero-left .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    vertical-align: bottom;
}
.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    padding: 24px 63px 24px 24px;
}
.hero-summary .item {
    display: flex;
    align-items: center;
    gap: 16px;
}
.hero-summary .item + .item {
    margin-top: 18px;
}
.hero-summary .icon {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--icons-color, #ffb900);
}
.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.hero-right {
    padding: 64px 0 0 130px;
    width: 52%;
}
.hero-right .heading {
    color: #171100;
    font-family: var(--secondary-font);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
}
.hero-right .desc {
    margin: 22px 0 38px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.hero-right .row {
    display: flex;
    align-items: center;
    gap: 28px;
}
.hero-right .cta-btn {
    min-width: 180px;
    padding: 18px 0;
    border-radius: 32px;
    background: var(--primary-color);
}
.watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.watch-video p {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}
.hero-right .icon {
    padding: 14px 15px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}
.hero-right .stats {
    margin-top: 48px;
}
.hero-right .stats .title {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    margin-bottom: 8px;
}
.hero-right .stats strong {
    color: #171100;
    font-family: var(--secondary-font);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22; /* 122.727% */
    margin-right: 17px;
}
.hero-right .stats span {
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
/* Popular */
.popular {
    margin-top: 200px;
}
.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-top .heading {
    color: #171100;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}
.popular-top .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    width: 458px;
    max-width: 100%;
    margin-top: 16px;
}
.popular-top .controls {
    display: flex;
    gap: 18px;
}
.popular-top .controls-btn {
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.popular-top .controls-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.popular-wrap {
    display: flex;
    gap: 30px;
}
.popular-wrap .card {
    margin-top: 55px;
    flex: 1;
}
.popular-wrap .card:hover .info {
    border-color: transparent;
    background: #fff;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}
.popular-wrap .card .image {
    width: 100%;
    height: 278px;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 12px 12px 0 0;
}
.popular-wrap .card .info {
    padding: 22px;
    border-bottom: 1px solid #e2dfda;
    border-left: 1px solid #e2dfda;
    border-right: 1px solid #e2dfda;
    background: #fff;
    border-radius: 0 0 12px 12px;
}
.popular-wrap .card-head,
.popular-wrap .card-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-wrap .card-head .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    padding-right: 6px;
}
.popular-wrap .card-rating span {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 6px;
}
.popular-wrap .card .desc {
    margin: 6px 0 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.87; /* 185.714% */
}
.popular-wrap .card-foot {
    display: flex;
    justify-content: space-between;
}
.popular-wrap .card-foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}
.popular-wrap .card-foot .card-btn {
    min-width: 118px;
    padding: 12px 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86; /* 185.714% */
    border: none;
    cursor: pointer;
}
.popular-wrap .card-foot .card-btn:hover {
    background-color: var(--primary-color);
}
